header, main, footer {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

@media only screen and (min-width: 993px) {
    .container {
        width: 85%
    }
}

h2,
h5,
h6,
.brand-logo {
	font-weight: 300;
}

h6 {
	font-size: 1.1rem;
}

.brand-sub {
	font-size: small;
}

.spacer {
	display: block;
	height: 15px;
}

.pad-top {
	padding-top: 15px;
}

.white-text a {
	color: #fff;
}